@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');
// @import url(__variables.scss);
// @import url(__effect);

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --main-color: #ffa260;
    --border: 0.01rem solid rgb(245, 173, 117);
    --bg: #010103;
}
$colors: (
  fill: #a972cb,
  pulse: #ef6eae, 
  close: #ff7f82, 
  raise: #ffa260, 
  up: #e4cb58, 
  slide: #8fc866, 
  offset: #19bc8b
);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    transition: .3s all initial;
}
html{
    font-size: 75%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    &::-webkit-scrollbar{
        width: .6rem;
    }
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background: #fff;
        border-radius:  .5rem;
    }
}
body{
    font-family: var(--sm-font);
    background-color: var(--bg);
}
//hieu ung hover chung 
.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
    &:before{
        position:absolute;
        pointer-events: none;
        z-index:-1;
        content: '';
        top: 100%;
        left: 5%;
        height:10px;
        width:90%;
        opacity:0;
        background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
        background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
        transition-duration: 0.3s;
        transition-property: transform, opacity;
      }
    
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }
  
  
  // hieu ung nay
  @keyframes bounce-animation {
    20% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    35% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    65% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    80% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 1.5s;
  }
  //navbar

  .navbar{
    // -webkit-box-shadow:  0 .1rem .2rem 0 rgba(247, 204, 147,.6);
    // box-shadow: 0 .1rem .2rem 0 rgba(247, 204, 147,.6);
    &-brand{
        font-size: 2.5rem;
        text-shadow:
        0 0 6px rgba(202,228,225,0.92),
        0 0 30px rgba(202,228,225,0.34),
        0 0 12px rgba(247, 196, 114, 0.52),
        0 0 21px rgba(249, 200, 95, 0.92),
        0 0 34px rgba(245, 161, 43, 0.78),
        0 0 54px rgba(242, 104, 30, 0.974)!important;
      }

 }
  .flipY {
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
  }
  @keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(-360deg);
    }
  }
  @keyframes depth {
    0% {
      text-shadow: 0 0 black;
    }
    25% {
      text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
    }
    50% {
      text-shadow: 0 0 black;
    }
    75% {
      text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black,
        -5px 0 black;
    }
    100% {
      text-shadow: 0 0 black;
    }
 }

  .nav-item{
    font-size: 1.5rem;
   
  }
  .navlink{
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(247, 196, 114, 0.52),
    0 0 21px rgba(249, 200, 95, 0.92),
    0 0 34px rgba(245, 161, 43, 0.78),
    0 0 54px rgba(242, 104, 30, 0.974)!important;
}

//search 

.search-form{
    position: absolute;
    top:115%; left: 10%;
    background: #fff;
    width: 20rem;
    height: 2rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    &.active{
        transform: scaleY(1);
    }
}
// end search


// cart 

 .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 10rem);
    width: 25rem;
    background: rgba(247, 196, 114);
    padding:0 1.5rem;
    &.active{
        right: 0;
    }

    .cart-item{
        position: relative;
        margin:2rem 0;
        display: flex;
        align-items: center;
        gap:1.5rem;
        .fa-times{
            position: absolute;
            top:1rem; right: 1rem;
            font-size: 2rem;
            cursor: pointer;
            color: var(--black);
            &:hover{
                color:var(--main-color);
            }
        }
        img{
            height: 7rem;
        }
        .content h3{
            font-size: 1.5rem;
            color:var(--black);
            padding-bottom: .5rem;
        }
        .content .price{
            font-size: 1rem;
            color:black;
        }
    }
    .cart-btn{
        font-size: 1rem;
   
    }
}
//endcart

// login 
aside {
    width: 100%;
    height: 100%;
    display: flex;
  
  }
  .form-custom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    input[type=text],
    input[type=password] {
      margin: 1rem;
      font-weight: bold;
    }
  
    input[type=text]:focus,
    input[type=password]:focus {
      transform: scale(1.2);
    }
  }
  
//slide
//scroll cho no muot ahihi
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: .5s all ease;
    z-index: 100;
  
    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .our-story {
    & img {
      border-radius: 5px;
      transition: all .5s ease-in-out;
  
      &:hover {
        transform: scale(.95);
        box-shadow: 1px 0 2px var(--main-color);
      }
    }
  
    &__des {
      position: relative;
      top: 0;
      padding: 2rem;
      font-size: 1rem;
      background-color: rgba(43, 33, 33, 0.5);
      border-radius: 10px;
    }
  
    &__title {
      font-size: 2rem;
      color: var(--main-color);
      margin-top: 2rem;
    }
  
  }
  
  .menu {
    &__title {
      font-size: 2rem;
      color: var(--main-color);
     margin-top: 2rem;
    }
  
    &-item {
      & img {
        padding: 1rem;
        position: relative;
        transition: all .25s ease-in-out;
        opacity: 0.8;
  
        &:hover {
          transform: scale(1.2);
          opacity: 1;
          top: -0.2rem;
        }
  
      }
  
    }
  
  
  
  }

  
.special {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background-color: var(--bg);
    background-image: linear-gradient(180deg, var(--bg) 0%, var(--main-color) 50%, var(--bg) 100%);
  
    &__title {
      font-size: 2rem;
      color: var(--main-color);
      margin-top: 2rem;
    }
  
    &-container {
      display: grid;
      max-width: 100vw;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 35px;
      margin: 0 auto;
      padding: 40px auto;
  
      .card {
        position: relative;
        width: 250px;
        height: 400px;
        margin: 0 auto;
        background: #000;
        border-radius: 15px;
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  
        .face {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
  
          &.face1 {
            box-sizing: border-box;
            padding: 20px;
  
            h2 {
              margin: 0;
              padding: 0;
            }
  
  
          }
  
          &.face2 {
            transition: 0.5s;
  
            img {
              margin: 0;
              padding: 0;
              color: #fff;
              transition: 0.5s;
              text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              z-index: 10;
            }
          }
        }
      }
  
      .card:hover .face.face2 {
        height: 60px;
  
        img {
          height: 50%;
        }
      }
  
      .card:nth-child(1) .face.face2 {
        background-image: linear-gradient(180deg,
            var(--main-color) 0%,
            var(--bg) 50%,
            var(--main-color) 100%);
        border-radius: 15px;
      }
  
      .card:nth-child(2) .face.face2 {
        background-image: linear-gradient(180deg,
            var(--main-color) 0%,
            var(--bg) 45%,
            var(--main-color) 100%);
        border-radius: 15px;
      }
  
      .card:nth-child(3) .face.face2 {
        background-image: linear-gradient(180deg,
            var(--main-color) 0%,
            var(--bg) 45%,
            var(--main-color) 100%);
        border-radius: 15px;
      }

  
  
    }
   
  
  
  }
  .product__name,.text-glow{
    color: fff;
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(247, 196, 114, 0.52),
    0 0 21px rgba(249, 200, 95, 0.92),
    0 0 34px rgba(245, 161, 43, 0.78),
    0 0 54px rgba(242, 104, 30, 0.974)!important;

}
  
  .feature {
    &__title {
      font-size: 2rem;
      color: var(--main-color);
      margin-top: 2rem;
      
    }
  
    &-container {
      background-color: var(--main-color);
    }
  
  }

// button-group
// Animate the size, inside
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

// Animate the size, outside
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

// Stack multiple shadows, one from the left, the other from the right
.close:hover,
.close:focus {
  box-shadow: 
    inset -3.5em 0 0 0 var(--hover),
    inset 3.5em 0 0 0 var(--hover);  
}

// Size can also be negative; see how it's smaller than the element
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

// Animating from the bottom
.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

// And from the left
.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

// Multiple shadows, one on the outside, another on the inside
.offset {  
  box-shadow: 
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);
  
  &:hover,
  &:focus {
    box-shadow: 
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }
}

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}


// Basic button styles
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  border-radius: .2srem;
}


code { 
  color: #e4cb58;
  font: inherit;
}
footer{
    a{
        text-decoration: none;
        text-transform: capitalize;
    }
}

//contact
#contact{
    label{
        padding: 1rem;
        color: white!important;
    }
    input,textarea{
        background-color: #aaa;
        border: none;
        font-size: 1.2rem;
    }
    input:hover,input:focus,textarea:hover,textarea:focus{
        background: #000;
        border-bottom: var(--border);
        color: var(--main-color);
    }
}
   // shop page

   .shop_title{
    background-color: var(--main-color);
   }

  

